.title {
    margin-top : 200px;
    @include flex(center, center, column);
    @include size(100%, auto);
    gap : 24px;

    h2 {
        @extend %font-h2;
        color: $black;
        text-align: center;

        span {
            color: $primary-color;
        }
    }

    p {
        @extend %font-body;
        color: $third-color;
        text-align: center;
    }
}

@media screen and (max-width: 1024px){
    .title {
        padding: 0 80px;
    }
}

@media screen and (max-width: 768px){
    .title {
        padding: 0 40px;
    }
}

@media screen and (max-width: 500px){
    .title {
        padding: 0 20px;

        h2 {
            font-size: $h2-mobile;
        }

        p {
            font-size: $body-mobile;
        }
    }
}




