@import url("https://use.typekit.net/kvo6yyi.css");

// Variables

$primary-color: #F26E2D;
$secondary-color : #650D1C;
$third-color : #16213E;
$black : #303030;
$white : #FFFFFF;
$link-color : #6D8493;

$font-family: Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Font sizes
$body : 24px;
$BigTitle : 100px;
$h2 : 48px;
$h3 : 32px;
$link-size : 20px;
$button-font : 16px;

//mobile 
$body-mobile : 16px;
$BigTitle-mobile : 56px;
$h2-mobile : 32px;
$h3-mobile : 24px;
$link-size-mobile : 16px;


// Font weight

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// font-family

$font-family-body: 'Poppins', sans-serif;
$font-family-heading: 'Cubano', sans-serif;
